html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Bangers', cursive;

}
/***************************
shonen background  settings 
******************************/
/* commit */  
.shonen-bg {
    background: url("../image/shonen-bg.jpg") no-repeat fixed center;
    -webkit-background-size:cover ;
    -moz-background-size: cover;
    -o-background-size: cover;
    }


.win-bg {
    background: url("../image/victory.jpg") no-repeat fixed center;
    background-size: 600px 300px;    
-webkit-background-size: 600px 300px;
    -moz-background-size: 600px 300px;
    -o-background-size: 600px 300px;  
}

.lose-bg {
    background: url("../image/kaiba-defeat.jpg") no-repeat fixed center;
    background-size: 600px 300px;    
-webkit-background-size: 600px 300px;
    -moz-background-size: 600px 300px;
    -o-background-size: 600px 300px;  
}

.how-to-play-bg {
    background: url("../image/how-to-play.jpg") no-repeat fixed center;
    background-size: 600px 300px;    
-webkit-background-size: 600px 300px;
    -moz-background-size: 600px 300px;
    -o-background-size: 600px 300px;  
}


/***************************
container/box settings 
******************************/

.row {
   /* commit */
    height: auto;
}

.btn {
    width: 90px;
}

.shounen-game-container {
    min-height: 60vh;
   
   /* delete the bg colors here and also i pput shonen 
   bg class in the shounen container. */
}
/* commit */
.dashboard-container {
    background-color: #a90329;
 background-image: radial-gradient( #000000 15%, #a90329 );
     min-height: 60vh;
     padding-bottom: 50px;
}



.name-container {
    width: 150px;
}

.score-container {
    width: 150px;
}

.high-score-container {
    width: 150px;
}
/* commit*/
.title-box {

    height: 60px;
    width: 300px;
    margin:0 auto;
   text-align: center; 
    background-color: orange;
    -webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: #fff;
}

.dashboard-box {
    height: 170px;
    width: 300px;
  margin:0 auto;
    background-color: orange;
    -webkit-text-stroke-width: 0.1px;
-webkit-text-stroke-color: #fff;
}


.dashboard-box h5 {
    font-size: 15px;
}
/* timer box class chanagd to rue_reset box */

.rule_reset-box {
    height: 60px;
    width: 300px;
   margin: 0 auto;
    padding-bottom:40px;
background-color:orange;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: #fff;
}


.rule_reset-box button{

margin-top:8px;
margin-left:30px;
border: #a90329 solid 2px;
}
/* end commit*/
.timer-count  {
  display: flex;
  
    }

/* commit deleted turn box*/





/***************************
 modal https://www.youtube.com/watch?v=gLWIYk0Sd38 <-- how i created modal 
******************************/
.bg-how-to-play-modal, .bg-lose-modal, .bg-win-modal {
    width: 100%;
    height : 100%;
    background-color: rgba(0,0,0,0.7);
    position:fixed;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
width :600px;
height :300px;
background-color: white; 
position: relative;
}

.modal-content button {
display:block;
margin-top: 45px;
color:#000;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: #fff;
border: #a90329 solid 2px;
}

.modal-content h2   {

text-align: center;
color:#000;
margin-top:40px;
font-size: 35px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #fff;
/*https://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text*/
}

.close{
    position: absolute;
    top:0;
    right:14px; 
    font-size :42px;
    transform:rotate(45deg);
    cursor:pointer;
}

.modal-score-container{
    margin-top: 25px;
}

.modal-score-container p {
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.win-modal-scores {
text-align: center; 
font-size:20px;
margin: 30px, 0;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: #fff;
} 
/* commit*/
.lose-modal {
    text-align: center; 
    font-size:20px;
    margin: 30px, 0;
    } 
    

/***************************
 game code 
******************************/

/* Memory game: game container code */

.memory-game {
    width: 280px;
    height: 350px;
    margin: 60px auto;
    /*This is meant to centre the game board but to noavail */
    display: flex;
    flex-wrap: wrap;
    /* flex has default property of "nowrap" */
    perspective: 1000px;
    /* removed border */
}

.memory-card {
    padding-bottom: 20px;
    width: calc(25% - 10px);
    /* This makes it so theres four cards in a row and calc makes it so that the excess margin 
          is  considered in the width */
    height: calc(33.333% - 10px);
    /* This makes it so there's 3 rows */
    margin: 5px;
    position: relative;
    /* When you set an elemment to positon relative nothimg will happen, but when you add apply position
          attributes like top:10px or left:10px then the elemnt will position itself relative to its normal positon in flow e.g it will move 
          20px right and 20px down from its normal position */
    transform: scale(1);
    transform-style: preserve-3d;
    /* This + perspective property and transition:transform makes the card flip 3d */
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    /* suedo class active makes it so that when an element is clicked trigger an animation
          the element will become 3% smaller when clicked*/
    transition: transform .2s;

}

.memory-card.flip {
    transform: rotateY(180deg);
    /*rotates image on y axis. as if you were turing a revolving door */
}

.front-face,
.back-face {
    width: 100%;
    /* This makes it so the imgs take on 100% of the container width */
    height: 100%;
    /* This makes it so the imgs take on 100% of the container height */
    position: absolute;
    /* When you add postion absolute  the element has to position its self relative to its nearest  ancestor 
         if this cant be done then its positions itself relative to the body elemnent */
    border-radius: 5px;
    background: #ffffff; /*commit*/
    backface-visibility: hidden;
    /*eaxh html element has a backface this must be set to hidden so when you flip a card
            its backface isnt shown */
}

.front-face {
    transform: rotateY(180deg);
}



/***************************
media queries 
******************************/

/*--phones --*/

@media (max-width:414px) {
    .title-box {
        margin: auto;
    }

    .dashboard-box {
        /*this is to fix positioning problems with the dashboard */
        margin: auto;
    }


    .timer-box {
        /*this is to fix positioning problems with the timer box*/
        margin: auto;
    }
}


@media (min-width:375px) {
    .memory-game {
        /*this is to fix positioning problems with the card box */
        width: 330px;
    }

    h5 {
        font-size: 20px;
        margin: 0;

    }
}


/*--ipad--*/

@media (min-width:767px) {



    h5 {
        font-size: 15px;

    }


}

/* --desktop screens--- */

@media (min-width:992px) {

    .btn {
        width: 90px;
        font-size: 20px;
    }


    h5 {
        font-size: 20px;

    }
    
    .shounen-game-container {
    min-height: 100vh;
   
  
}

.dashboard-container {
     min-height: 100vh;
}


    .title-box {
        width: 350px;
        height: 80px;
        margin: auto;
    }

  .title-box h1 {
        margin: 20px auto;
    }


    .dashboard-box {
        /*this is to fix positioning problems*/
        width: 350px;
        height: 120px;

        margin: auto;
    }


   .rule_reset-box  {
        /*this is to fix positioning problems*/
        width: 350px;

        margin: auto;
    }

    .turn-box {
        width: 350px;

        margin: auto;
    }

    .dashboard-padding {
        padding-top: 5px;
    }


    .memory-game {
        height: 680px;
        width: 500px;
    }

}